

 /* BASKET   */

.basketContainer {
position: sticky;
top: 20px;
z-index: 1000;
right: 36%;

}


.basket{
  width: 300px;
  height: 600px;
  border-radius: 15px 0 0 15px;  
  background-color:#363534;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basketCloseBtn{
position: relative;
}

.closeBasketBtn {
margin-left: 220px;
height: 32px;
}

.dishAmount{
position: absolute;
bottom: -9px;
right: -7px;
background-color: #c92d06;
color: #FFFFFF;
border-radius: 7px;
padding:0 5px 0 5px;
}

.closeBasketBtn:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.deliveryCollection{
display: flex;
border-radius: 20px; 
background-color: #a4a2a1;
margin-bottom: 8px;
padding: 8px;
gap: 20px;


}

.deliveryCollection img {
  height: 20px;
}

.deliveryCollection button {
  background-color: transparent;
  color:#363534;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
    font-family: "Palanquin", sans-serif;

}

.deliveryCollection button.active{
  background-color: #363534;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 7px 12px;

}

.deliveryCollection button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.basket h2 {
  font-size: 32px;
  font-weight: 700;
  color:#FDEADC;
  margin-bottom: 8px;
  
}


.basket h4 {
  color: rgb(174, 173, 173);
  font-size: 24px;
}

.addedItem {
  color: #E76C1F;
}  

.amount{
color: #363534
}

.dash{
  font-size: 20px;
  filter: brightness(1.2);
}

.plus {
 font-size: 20px;
  filter: brightness(1.2);
}  

.basketEmty{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(174, 173, 173);
}

.basketEmty img {
  margin-top: 20px;
  height: 64px;
  opacity: 50%;
}

.basketBox{
background: #FDEADC;
border-radius: 20px;
padding: 8px;
display: flex;
flex-direction: column;
gap: 20px;
font-size: 22px;
font-weight: 700;
margin-bottom: 8px;
}


.nameDeleteBtn{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.nameDeleteBtn button {
  height: 24px;
  background: none;
  border: none;
}


.basketDishes{
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
} 


.basketAmountPreis{
  display: flex;
  justify-content: space-between;
}

.deleteAdd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.deleteAdd img {
  height: 20px;
}

.sum {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
 
}

.priceLine {
  display: flex;
  justify-content: space-between;

 
}
.separator {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;  
    margin: 10px 0;
    }

.buyNow{
  background: #E76C1F;
  font-size: 24px;
  font-weight: 700;
  border-radius: 60px;
  padding: 5px;
  margin-top: 24px;
  

}

/* Order Confirmed Container */

.orderConfirmContainer{  
  background-color: #363534;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
}

.orderConfirmContainer::backdrop{
  background: rgba(0, 0, 0, 0.6);
}

.orderConfirmCloseBtn {
font-size: 32px;
background: none;
color: #c92d06;
font-weight: 900;
border: none;
margin-left: 150px;
}

.orderConfirmCloseBtn:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.orderConfirm{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.orderConfirm p {
  font-size: 20px;
  font-weight: 700;
  color: #FDEADC;
  margin-top: 10px;
}

.orderConfirm{
  font-size: 29px;
  font-weight: 700;
  color: #FDEADC;
} 

