                    
/* GENERAL */    
*{
  box-sizing: border-box;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
  
}

@font-face {
    font-family: "Palanquin";
    src: url("./assets/fonts/Palanquin_Dark/PalanquinDark-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Palanquin";
    src: url("./assets/fonts/Palanquin_Dark/PalanquinDark-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: "Palanquin", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: whitesmoke;
  color:#363534;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto; 
} 

 
/* HEADER */
header {
  height: 128px;
  background-color:  #E76C1F;
  width: 100vw;
}

.HeaderContainer{
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
}

/* HERO SECTION */
.HeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {        
height: 508px;
width: 100%;
object-fit: cover;
} 

.HeroLogo {
height: 200px;
width: 200px;
border-radius: 150px;
border: 13px solid #FDEADC;
margin-top: -120px;
}

.title{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 48px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h1 b {
  font-size: 48px;
  color: #E76C1F;
}

.TitleRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.rate{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #FACAAC;
  padding: 4px 5px;
  border-radius: 10px;
}
.rate img {
  width: 20px;
}
.rate span b{
  font-size: 20px;
}
.rate p {
  font-weight: 400;
  color: #726D6D;
  font-size: 18px;
}

.title p {
  font-size:24px;
    /* text-wrap: balance; */
}


/* MENU */
.menuContainer {
  display: flex;
  align-items: flex-start;
 position: relative;

}

.categoryContainer{
  background-color:#E76C1F;
  margin-bottom: 24px;
  width: 100vw;  
  position: relative;
  z-index: 1;   
  
}

.category{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 60px;  
  gap: 8px;
}


h2{
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;

} 

.size {
  font-weight: 400;
  font-size: 24px;
}

.category img{
  width: 89px;
  height: 91px;
}

.dishCard {
  background-color: #FDEADC;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 15px;
  gap: 16px;
  max-width: 1000px;
  width: 100%;
}

.dishCardContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   flex-grow: 1;  
}

.dishCard img {
  height: 121px;
  width: 207px;
  border-radius: 12px;
  object-fit: cover;
}

.dishName {
  display: flex;
  flex-direction: column;
}

.dishCard img:hover {
 filter: brightness(1.2);
}

.dishName span {
  font-size: 24px;
  font-weight: 600;
}

.dishName p {
  font-size: 16px;
  font-weight: 500;
}

.priceAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

}

.priceAdd span{
  font-size: 24px;
  font-weight: 600;
}
.priceAdd button {
 background-color:#ffffff;
 border-radius: 20px;
 font-size: 16px;
 font-weight: 600;
 border: 0;
 padding: 10px;
 cursor: pointer;
 white-space: nowrap;
}

.priceAdd button:hover{
  filter: brightness(1.2);
}

/* FOOTER */
footer {
  height: 128px;
  background-color:  #E76C1F;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterContainer{
display: flex;
color: white;
gap: 16px;
}

/* Imprint */

.imprint h2 {
  color: #363534;
  font-size: 24px;
  }
  
  .imprint p{
    margin-bottom: 16px;
  }

  /* Cookie Preferences*/

  .cookie-consent h2 {
 color: #363534;
  font-size: 24px;
  }

