 /* BASKET   */

 .basketContainer{
  display: none; 
  position: sticky;
  top: 50px;
  z-index: 2;
  width: 350px;
  flex-shrink: 0;
}

.basketContainer.show {
  display: block;   
}


.basket {
width: 100%;
height: 800px;
background-color: #363534;
border-radius: 15px 0 0 15px;
padding: 20px;
}


#basketContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.basketItems {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  max-height: 400px; 
}


.basketClose{
position: relative;
}


.basketCloseBtn{
margin-left: 260px;
height: 32px;
}


.dishAmount{
position: absolute;
bottom: -8px;
right: 4px;
background-color: #c92d06;
color: #FFFFFF;
border-radius: 7px;
padding:0 5px 0 5px;
}


.basketCloseBtn:hover{
  cursor: pointer;
  filter: brightness(1.2);
}


.deliveryCollection{
display: flex;
justify-content: space-between;
border-radius: 20px; 
background-color: #a4a2a1;
margin-bottom: 16px;
padding: 8px;
width: 100%;
}


.deliveryCollection img {
  height: 20px;
}


.deliveryCollection button {
  background-color: transparent;
  color:#363534;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Palanquin", sans-serif;
}


.deliveryCollection button.active{
  background-color: #363534;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 7px 12px;
}


.deliveryCollection button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}


.basket h2 {
  font-size: 32px;
  font-weight: 700;
  color:#FDEADC;
  margin-bottom: 8px;
  text-align: center;
}


.addedItem {
  color: #E76C1F;
}  


.amount{
color: #363534
}


.dash{
  font-size: 20px;
  filter: brightness(1.2);
  cursor: pointer;
}


.plus {
font-size: 20px;
filter: brightness(1.2);
cursor: pointer;
}  


.basketEmpty { 
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 24px; 
}  


.basketEmpty h4 {
  color: rgb(174, 173, 173);
  font-size: 24px;
}
.basketEmpty span{
  color:rgb(174, 173, 173);
  font-size: 18px;
}


.basketEmpty img {
  margin-top: 20px;
  height: 64px;
  opacity: 60%;
}


.basketBox{
background: #FDEADC;
border-radius: 20px;
padding: 8px;
display: flex;
flex-direction: column;
gap: 20px;
font-size: 22px;
font-weight: 700;
margin-bottom: 8px;
}


.nameDeleteBtn{
display: flex;
flex-direction: row;
justify-content: space-between;
}


.nameDeleteBtn button {
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.basketAmountPreis{
  display: flex;
  justify-content: space-between;
}


.deleteAdd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.deleteAdd img {
  height: 20px;
  cursor: pointer;
}


.sumContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.sum {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}


.priceLine {
  display: flex;
  justify-content: space-between;
}


.separator {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;  
    margin: 10px 0;
}


.buyNow{
  background: #E76C1F;
  font-size: 24px;
  font-weight: 700;
  border-radius: 60px;
  padding: 5px;
  margin-top: 24px;
  cursor: pointer;
  border: 0;
}


/* Order Confirmed Container */

.orderConfirmContainer{  
  background-color: #363534;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
}


.orderConfirmContainer::backdrop{
  background: rgba(0, 0, 0, 0.6);
}


.orderConfirmCloseBtn {
font-size: 32px;
background: none;
color: #c92d06;
font-weight: 900;
border: none;
margin-left: 150px;
}


.orderConfirmCloseBtn:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.orderConfirm{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.orderConfirm span {
  font-size: 16px;
  font-weight: 400;
  color: #FDEADC;
  margin-top: 10px;
}


.orderConfirm p {
  font-size: 24px;
  font-weight: 600;
  color: #FDEADC;
} 


@media (max-width: 700px){
  
  .basketContainer{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.basket{
  border-radius: 15px 15px 0 0;   
}
}

@media (max-width: 500px) {

.basket{
  height: 550px;
}

.basketCloseBtn{
margin-left: 210px;
height: 32px;
} 

#basketContent {
  height: 70%;
} 

.sum{
  margin-top:8px;
}

.buyNow{
  margin-top: 8px;
}
} 


@media (max-width: 400px) {
  .basketContainer {
  width: 300px; 
} 

}